OAUTH_MOCK_PORT=8081
OAUTH_CLIENT_ID=clientkey
OAUTH_CLIENT_SECRET=clientsecret
OAUTH_CALLBACK_URI=http://localhost:4567/oauth-callback
AWKBLOG_HOSTNAME=http://localhost:4567
GITHUB_LOGIN_SERVER=http://localhost:8081
GITHUB_API_SERVER=http://localhost:8081
GITHUB_LOGIN_SERVER_INTERNAL=http://oauth-mock:8081
GITHUB_API_SERVER_INTERNAL=http://oauth-mock:8081
NOT_USE_AWS_S3=1
AWKBLOG_WORKERS=40
AWKBLOG_LANG=en
# AWS_ACCESS_KEY_ID=
# AWS_BUCKET=
# AWS_REGION=
# AWS_SECRET_ACCESS_KEY=
# S3_BUCKET_ENDPOINT=https://bucketname.s3.amazonaws.com
# S3_ASSET_HOST=https://bucketname.s3.amazonaws.com
