<!DOCTYPE html>
<html lang="ja">
  <head>
    <%#include components/authed/console_head.html %>
  </head>
  <body>
    <%#include components/authed/header.html %>
    <main>
      <h1><%= t["blog_settings"] %></h1>
      <p>
        <%= t["blog_settings_description"] %>
      </p>
      <form action="/authed/settings" method="post">
        <div><input type="text" name="title" placeholder="<%= t["placeholder_blog_title"] %>" value="<%= v["title"] %>"></div>
        <div><input type="text" name="description" placeholder="<%= t["placeholder_blog_description"] %>" value="<%= v["description"] %>"></div>
        <div><input type="text" name="author_profile" placeholder="<%= t["placeholder_author_profile"] %>" value="<%= v["author_profile"] %>"></div>
        <div><input type="submit" value="<%= t["submit"] %>"></div>
      </form>
    </main>
    <footer>
    </footer>
  </body>
</html>
