<!DOCTYPE html>
<html lang="ja">
  <head>
    <%#include components/authed/console_head.html %>
  </head>
  <body>
    <%#include components/authed/header.html %>
    <main>
      <h1>Blog Settings</h1>
      <form action="/authed/settings" method="post">
        <div><input type="text" name="title" placeholder="Blog Title" value="<%= v["title"] %>"></div>
        <div><input type="text" name="description" placeholder="Blog Description" value="<%= v["description"] %>"></div>
        <div><input type="text" name="author_profile" placeholder="Author Profile" value="<%= v["author_profile"] %>"></div>
        <div><input type="submit" value="submit"></div>
      </form>
    </main>
    <footer>
    </footer>
  </body>
</html>
