<html>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/authed">/authed</a></li>
          <li><a href="/authed/posts">/authed/posts</a></li>
          <li><a href="/authed/posts/new">/authed/posts/new</a></li>
          <li><a href="/">/</a></li>
          <li>
            <form method="POST" action="/logout">
              <input type="submit" value="logout">
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <h1>hello, awkblog!</h1>
    <div>Hi! <%= v["username"] %>, Welcome to awkblog!</div>
  </body>
</html>
