<!DOCTYPE html>
<html lang="ja">
  <head>
    <%#include components/authed/console_head.html %>
  </head>
  <body>
    <%#include components/authed/header.html %>
    <main>
      <h1><%= t["console_title"] %></h1>
      <p><%= t["descriptive_list_posts"] %>: <a href="/authed/posts">/authed/posts</a></p>
      <p><%= t["descriptive_new_post"] %>: <a href="/authed/posts/new">/authed/posts/new</a></p>
      <p><%= t["descriptive_blog_settings"] %>: <a href="/authed/settings">/authed/settings</a></p>
      <p><%= t["descriptive_style_settings"] %>: <a href="/authed/styles">/authed/styles</a></p>
    </main>
    <footer>
    </footer>
  </body>
</html>
