<!DOCTYPE html>
<html>
  <head>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for <%= v["username"] %>" href="/@<%= v["username"] %>/rss.xml" />
    <style>
      html {
        max-width: 70ch;
        padding: 3em 1em;
        margin: auto;
        line-height: 1.75;
        font-size: 1.25em;
      }
      h1,h2,h3,h4,h5,h6 {
        margin: 3em 0 1em;
      }
      p,ul,ol {
        margin-bottom: 2em;
        color: #1d1d1d;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>posts of <%= v["username"] %></h1>
      <% for(i in v["posts"]) { %>
        <div>
          <a href="/@<%= v["posts"][i]["blogname"] %>/posts/<%= v["posts"][i]["id"] %>"><%= v["posts"][i]["title"] %></a>
        </div>
      <% } %>
  </body>
</html>
