<html>
  <head>
    <style>
      html {
        max-width: 70ch;
        padding: 3em 1em;
        margin: auto;
        line-height: 1.75;
        font-size: 1.25em;
      }
      h1,h2,h3,h4,h5,h6 {
        margin: 3em 0 1em;
      }
      p,ul,ol {
        margin-bottom: 2em;
        color: #1d1d1d;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>posts</h1>
      <% for(i in v["posts"]) { %>
        <article>
          <h2><%= v["posts"][i]["title"] %></h2>
          <div class="date"><%= v["posts"][i]["created_at"] %></div>
          <p><%= v["posts"][i]["content"] %></p>
          <a href="/authed/posts/edit?post_id=<%= v["posts"][i]["id"] %>">edit</a>
          <form action="/authed/posts/delete" method="POST" onSubmit="return confirm('記事を削除しても良いですか？この操作は取り消せません')">
            <input type="hidden" name="post_id" value="<%= v["posts"][i]["id"] %>">
            <input type="submit" value="delete">
          </form>
        </article>
        <hr>
      <% } %>
    <a href="/authed">/authed</a>
  </body>
</html>
