<!DOCTYPE html>
<html>
  <head>
    <%#include components/authed/console_head.html %>
  </head>
  <body>
    <%#include components/authed/header.html %>
    <main>
      <h1>posts</h1>
      <% for(i in v["posts"]) { %>
        <article>
          <h2><%= v["posts"][i]["title"] %></h2>
          <div class="date"><%= v["posts"][i]["created_at"] %></div>
          <p><%= v["posts"][i]["content"] %></p>
          <div style="display:flex">
            <form action="/authed/posts/edit" method="GET" style="padding: 4px">
              <input type="hidden" name="post_id" value="<%= v["posts"][i]["id"] %>">
              <input type="submit" value="edit">
            </form>
            <form action="/authed/posts/delete" method="POST" onSubmit="return confirm('<%= t["confirm_delete"] %>')" style="padding: 4px">
              <input type="hidden" name="post_id" value="<%= v["posts"][i]["id"] %>">
              <input type="submit" value="delete">
            </form>
          </div>
        </article>
        <hr>
      <% } %>
  </main>
    <footer>
    </footer>
  </body>
</html>
