<!DOCTYPE html>
<html>
  <head>
    <%#include components/authed/console_head.html %>
  </head>
  <body>
    <%#include components/authed/header.html %>
    <main>
      <h1>posts</h1>
      <% for(i in v["posts"]) { %>
        <article>
          <h2><%= v["posts"][i]["title"] %></h2>
          <div class="date"><%= v["posts"][i]["created_at"] %></div>
          <p><%= v["posts"][i]["content"] %></p>
          <a href="/authed/posts/edit?post_id=<%= v["posts"][i]["id"] %>">edit</a>
          <form action="/authed/posts/delete" method="POST" onSubmit="return confirm('記事を削除しても良いですか？この操作は取り消せません')">
            <input type="hidden" name="post_id" value="<%= v["posts"][i]["id"] %>">
            <input type="submit" value="delete">
          </form>
        </article>
        <hr>
      <% } %>
  </main>
    <footer>
    </footer>
  </body>
</html>
