<!DOCTYPE html>
<html>
  <%#include components/_account_name/head.html %>
  <body>
    <div class="blog-page-top">
      <%#include components/_account_name/header.html %>
      <main>
        <% for(i in v["posts"]) { %>
          <div class="post">
            <a class="post-link" href="/@<%= v["account_name"] %>/posts/<%= v["posts"][i]["id"] %>">
              <article>
                <div class="post-cover"><img src="<%= v["posts"][i]["coverimg"] %>"></div>
                <div class="post-title"><%= v["posts"][i]["title"] %></div>
                <div class="post-description"><%= v["posts"][i]["description"] %></div>
              </article>
            </a>
          </div>
        <% } %>
      </main>
      <%#include components/_account_name/footer.html %>
    </div>
  </body>
</html>
