<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani">
<meta charset="utf-8">
<style>
  img {
    max-width: 100%;
  }
  body {
    padding: 0 8px;
    margin: 0px;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 36px 0;
  }
  header {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
  }
  footer {
    max-width: 800px;
    margin: 0 auto;
  }
  input[type=text] {
    width: 100%;
    font-size: 1rem;
    line-height: 1.8;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #b6c3c6;
    background-color: #ffffff;
    margin-bottom: 32px;
  }
  input[type=butoon] {
    border: none;
    background-color: #3ea8ff;
    color: #ffffff;
    border-radius: 8px;
    font-size: 1rem;
    padding: 16px;
    margin-top: 16px;
  }
  input[type=butoon]:hover,  input[type=butoon]:focus {
    background-color: #219afe;
  }
  input[type=butoon]:active {
    background-color: #008cff;
  }

</style>

